{% extends "base_html_my.html" %}
{% block link %}
    {#    {% if request.user.is_authenticated %}#}
    {#        <li class="nav-item">#}
    {#            <a class="nav-link" href="{% url "web_forum:project_add" %}">Создание Проекта</a>#}
    {#        </li>#}
    {#        <li class="nav-item">#}
    {#            <a class="nav-link" href="{% url "web_forum:project_delete_view" project.pk %}">Удалить Проект</a>#}
    {#        </li>#}
    {#        <li class="nav-item">#}
    {#            <a class="nav-link" href="{% url "web_forum:discus_update_view" project.pk %}">Редактировать проект</a>#}
    {#        </li>#}
    {#        <li class="nav-item">#}
    {#            <a class="nav-link" href="{% url "web_forum:task_add" project.pk %}">Добавить задачу</a>#}
    {#        </li>#}
    {#        <li class="nav-item">#}
    {#            <a class="nav-link" href="{% url "web_forum:add_user_to_project" project.pk %}"> Добавить к проекту</a>#}
    {#        </li>#}
    {#    {% endif %}#}
{% endblock %}

{% block title %}Детали Проекта{% endblock %}

{% block content %}
    <div class="hbb_container" style="justify-content:center">
        <div class="card mx-auto mb-3 mt-2 py-2"
             style="max-width: 70%; border: 3px solid darkblue; background-color: #ce1565; text-align: center">

            <div class="card-body">
                <img src="{{ answer.user.avatar_url }}" class="img-fluid" alt="User Avatar">
                <h1 class="card-title" style="border-bottom: 2px solid darkblue; border-radius: 10px">
                    Тема: {{ discus.title }}</h1>
                <p class="card-text" style="font-size: 26px;">Описание: {{ discus.description }}</p>
                <p class="card-text" style="font-size: 26px;">Автор: {{ discus.author }}</p>
                <p class="card-text"><small class="text-body-secondary">Добавлено: {{ discus.created_at }}</small>
                </p>
                {% if request.user.is_authenticated %}
                    <div class="obertka py-3">
                        <a href="{% url "web_forum:discus_update_view" discus.pk %}" class="btn btn-primary py-2 w-25">Редактирование</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>






    <div class="title_head text-center pt-5 pb-2">
        <h1 class="head-our-works" style="font-size: 50px">Ответы</h1>
        <h2>╰────────╮• ✻ •╭────────╯</h2>
    </div>


    <div class="container text-start">
        <div class="container-our-works pb-5 pt-5">
            {% if request.user.is_authenticated %}
                <a href="{% url "web_forum:answer_add" discus.pk %}" class="btn btn-primary my-4 py-2 w-25">Оставить
                    ответ</a>
            {% endif %}
            <div class="row row-cols-1 row-cols-md-2 g-4">
                {% for answer in answers %}
                    <div class="card w-100" style="border: 3px solid #1395a9; background-color: #ce1565">
                        <div class="card-body ">
                            <img src="{{ request.user.avatar_url }}" class="img-fluid" alt="User Avatar">
                            <p class="card-text card-text-1 text-uppercase"
                               style="font-size: 36px;">Пользователь: {{ answer.name }}</p>
                            <p class="card-text card-text-1 text-uppercase"
                               style="font-size: 24px;">Ответ: {{ answer.description }}</p>
                            <p class="card-text card-text-1 text-uppercase"
                               style="font-size: 24px; border-top: 3px solid darkblue; border-radius: 10%;">{{ answer.created_at }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if answers.has_previous %}
                <a href="?page=1">&laquo; Первый</a>
                <a href="?page={{ answers.previous_page_number }}">Предыдущий</a>
            {% endif %}

            <span class="current">
                Page {{ answers.number }} of {{ answers.paginator.num_pages }}.
            </span>

            {% if answers.has_next %}
                <a href="?page={{ answers.next_page_number }}">Следующий</a>
                <a href="?page={{ answers.paginator.num_pages }}">Последний &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}