{% extends "base_html_my.html" %}
{% block link %}
        {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url "web_forum:discus_add" %}">Новое обсуждение</a>
            </li>
        {% endif %}
{% endblock %}

{% block content %}

    <div class="title_head text-center pt-5 pb-5">
        <h1 class="head-our-works" style="font-size: 80px">Темы</h1>
        <h2>╰────────╮• ✻ •╭────────╯</h2>
    </div>
    <br>
    {% include "search_form.html" %}

    <div class="container text-start">
        <div class="container-our-works pb-5 pt-5">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                {% for discus in discussions %}

                        <a href="{% url "web_forum:discus_detail_view" discus.pk %}"
                           style="color: black; text-decoration: none">
                            <div class="card w-100" style="border: 3px solid #1395a9; background-color: #ce1565">
                                <h2 class="card-header">{{ discus.title }}</h2>
                                <div class="card-body">
                                    <h5 class="card-title">{{ discus.created_at }}</h5>
                                    <p class="card-text">{{ request.user }}</p>
                                    <p>Количество ответов: {{ discus.answers.all|length }}</p>
                                    <a href="{% url "web_forum:discus_detail_view" discus.pk %}"
                                       class="btn btn-primary">Посмотреть</a>
                                </div>
                            </div>
                        </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container text-center">
        <div class="page_footer">
            {% if is_paginated %}
                {% include 'answers/pagination.html' %}
            {% endif %}
        </div>
    </div>
{% endblock %}